$block_height: 52px;
$slider_color: #f6ad07;

.asideMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  min-height: $block_height;
  margin: 10px 10px 10px 10px;
  z-index: 1000;
}

.asideMenu__block {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: $block_height - 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.aside__additional_blocks {
  flex-direction: row;
  display: none;
}

.show {
  display: flex;
  animation: inputMoving 0.7s;
  animation-fill-mode: forwards;
}

@keyframes inputMoving {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

.asideMenu__block_heatSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.asideMenu__block_heatSwitcher_text {
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: ($block_height / 2) + 18;
  height: $block_height / 2;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: ($block_height / 2) - 4;
  width: ($block_height / 2) - 4;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $slider_color;
}

input:checked + .slider:before {
   transform: translateX(($block_height / 2) - 8);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.asideMenu__block_settings {
  cursor: pointer;
}
